/* body{
    background-color: peru;
} */

.btn{
    cursor: pointer;
}

body{
    color: rgb(27, 135, 207);
}

.clicked{
    color: #7f8c8d;
}

.form,
.greetings{
    display: none;
}

.showing{
    display: block;
}